<div class="col-md-10 col-md-offset-1">
  <div class="jumbotron text-center">
    <h2>Hello <%= current_user.name %></h2>
    <p class="lead">Welcome to Contact Manager App</p>
    <p>
      <%= link_to "Mange Your Contacts", contacts_path, class: "btn btn-primary btn-lg" %>
      <%= link_to "Sign in", new_user_session_path, class: "btn btn-default btn-lg" %>
      </p>
    </div>
  </div>
